In [1]:
import numpy as np
import pandas as pd

In [2]:
data_path = os.path.abspath("./data/")
out_path = os.path.abspath("./out/")
print("Data Path:", data_path)

Data Path: c:\Users\Adem Aber Aouni\source\repos\rose\hackatown\AIisCoolAgain\data

In [3]:
rest_1_data = pd.read_csv(os.path.join(data_path, "restaurant-1-orders.csv"))
rest_2_data = pd.read_csv(os.path.join(data_path, "restaurant-2-orders.csv"))

In [4]:
rest_1_data.head()

,Order ID,Order Date,Item Name,Quantity,Product Price,Total products
0,16118,03/08/2019 20:25,Plain Papadum,2,0.80,6
1,16118,03/08/2019 20:25,King Prawn Balti,1,12.95,6
2,16118,03/08/2019 20:25,Garlic Naan,1,2.95,6
3,16118,03/08/2019 20:25,Mushroom Rice,1,3.95,6
4,16118,03/08/2019 20:25,Paneer Tikka Masala,1,8.95,6

In [32]:
def preprocess(df) :
    df_new = df.drop(["Order ID", "Product Price", "Total products"], axis=1)
    df_new['Order Date'] = pd.to_datetime(df['Order Date'])
    df_new['dayOfWeek'] = df_new['Order Date'].dt.dayofweek
    df_new['week'] = df_new['Order Date'].dt.week
    categ = pd.Series(df["Item Name"], dtype="category")
    df_new['item'] = categ.cat.codes
    df_new = df_new.drop(["Order Date", "Item Name"], axis=1)
    df_new = df_new.groupby(["item", "dayOfWeek", "week"]).sum()
    return df_new, pd.DataFrame(categ.cat.categories)

In [33]:
rest_1_data_preprocessed, items1 = preprocess(rest_1_data)
print(rest_1_data_preprocessed)
rest_2_data_preprocessed, items2 = preprocess(rest_2_data)
print(rest_2_data_preprocessed)

                     Quantity
item dayOfWeek week
0    0         3            1
               4            1
               6            1
               10           1
               14           1
...                       ...
247  6         22           1
               24           1
               30           2
               37           1
               39           1

[29908 rows x 1 columns]
                     Quantity
item dayOfWeek week
0    0         4            1
               7            3
               8            1
               9            1
               15           1
...                       ...
336  6         39           2
               46           2
               48           1
               51           1
               52           1

[36534 rows x 1 columns]

In [34]:
rest_1_data_preprocessed.to_csv(os.path.join(out_path,"nestor1.csv"))
rest_2_data_preprocessed.to_csv(os.path.join(out_path,"nestor2.csv"))
items1.to_csv(os.path.join(out_path,"items1.csv"))
items2.to_csv(os.path.join(out_path,"items2.csv"))